.open-button{
    color: var(--color-text-primary);
    font-weight: 700;
    margin-left: 20px;
  }
  
  .subnav-search-input{
    width: 505px !important;
  
  }


  .header-title{
    text-transform: capitalize;
    top: 0px;
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
  }

  .back-button{
    top: 3px;
    position: relative;
  }